body {
  font-family: "Noto Sans JP";
  background: #f4d8e7;
  margin: 0;
}

input {
  margin-bottom: 10px;
}

h3 {
  font-size: 12px;
  margin: 0 auto;
  color: #3c1c54;
}

h2 {
  font-size: 18px;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  margin: 0;
  font-family: "Satisfy";
  text-align: center;
  font-size: 56px;
  background: rgb(245, 163, 204);
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ff0000;
}

input {
  width: 300px;
  outline: none;
  border-radius: 20px;
  border-color: #d3d3d3;
  border-style: solid;
  font-size: 18px;
  font-family: "Noto Sans JP";
  padding: 5px;
  margin-top: 10px;
}

/* .scroller {
  position: -webkit-sticky;
  position: sticky;
  top: 0.1px;
  background: #f0f3f3;
  background: rgb(230, 145, 187);
  padding-bottom: 30px;
  width: 100%;
  margin: 0;
} */

button {
  font-family: "Noto Sans JP";
  font-size: 18px;
  border-radius: 20px;
  border-style: solid;
  border-color: #d3d3d3;
  width: 30px;
  outline: none;
  margin-bottom: 10px;
}

.deletebtn {
  width: 30px;
  font-size: 12px;
}

button:hover {
  opacity: 0.4;
}

.an-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.item-container {
  display: flex;
  margin: 20px;
}

.homelinks {
  text-align: center;
  list-style-type: none;
  font-size: 56px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 3px #ffffff, 0 0 5px #edd8d5;
}

ul {
  padding: 0px;
}

li {
  margin-bottom: 60px;
  color: #ffffff;
  width: 100%;
  font-family: "Satisfy";
  background: rgb(245, 127, 186);
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ff1900;
  border-bottom: #ffffff;
  border-width: 25px;
}

div {
}
