body {
  font-family: "Noto Sans JP";
  background: #f0f3f3;
  margin: 0;
}

input {
  margin-bottom: 10px;
}

h3 {
  font-size: 12px;
  margin: 0 auto;
  color: #3c1c54;
}

h2 {
  font-size: 18px;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  margin: 0;
  font-family: "Satisfy";
  text-align: center;
  font-size: 36px;
  background: repeating-linear-gradient(
    to left,
    rgba(0, 116, 217, 0.85),
    rgba(127, 219, 255, 0.85),
    rgba(57, 204, 204, 0.85),
    rgba(61, 153, 112, 0.85)
  );
  text-shadow: 0 0 3px #ffffff, 0 0 5px #0000ff;
}

input {
  width: 600px;
  outline: none;
  border-radius: 20px;
  border-color: #d3d3d3;
  border-style: solid;
  font-size: 18px;
  font-family: "Noto Sans JP";
  padding: 5px;
  margin-top: 10px;
}

.scroller {
  position: -webkit-sticky;
  position: sticky;
  top: 0.1px;
  background: #f0f3f3;
  background: repeating-linear-gradient(
    to left,
    rgba(0, 116, 217, 0.85),
    rgba(127, 219, 255, 0.85),
    rgba(57, 204, 204, 0.85),
    rgba(61, 153, 112, 0.85)
  );
  padding-bottom: 30px;
  width: 100%;
  margin: 0;
}

button {
  font-family: "Noto Sans JP";
  font-size: 18px;
  border-radius: 20px;
  border-style: solid;
  border-color: #d3d3d3;
  width: 90px;
  outline: none;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.4;
}

.an-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.item-container {
  display: flex;
  margin: 20px;
}
