{% extends 'index.html' %}

{% block content %}
        {% for artist in artists %}
        <a href="{% url 'artist-detail' artist.pk %}"><div>{{ artist.first_name }} {{artist.last_name}}</div>
                <button><a href="{% url 'delete-artist' pk=artist.pk%}" class="deletebtn">Delete Artist</a></button>
                <button><a href="{% url 'edit-artist' pk=artist.pk%}">Edit Artist</a></button>
        {% endfor %}

        <button><a href="{% url 'add-artist' %}">Add Album</a></button>

 {% endblock %}